# Core backend framework
fastapi==0.115.0
uvicorn==0.30.6

# Testing & coverage
pytest==8.3.2
pytest-cov
httpx 


# Code quality & security
flake8==7.1.1
bandit==1.7.9

# Optional (for Pydantic v2 support if using FastAPI 0.115+)
pydantic==2.9.2
pydantic-core==2.23.4
